.roomaji {
	WIDTH: 150px;
	FONT-STYLE: italic;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Times New Roman;
	FONT-SIZE: 25px;
	TEXT-ALIGN: center;
	PADDING-TOP: 0;
	PADDING-BOTTOM: 0;
	PADDING-LEFT: 0;
	PADDING-RIGHT: 0;
	BORDER-TOP: 0;
	BORDER-BOTTOM: 0;
	BORDER-LEFT: 0;
	BORDER-RIGHT: 0;
}

.english {
	WIDTH: 150px;
	FONT-SIZE: 12px;
	TEXT-ALIGN: center;
	PADDING-TOP: 0;
	PADDING-BOTTOM: 0;
	PADDING-LEFT: 0;
	PADDING-RIGHT: 0;
	BORDER-TOP: 0;
	BORDER-BOTTOM: 0;
	BORDER-LEFT: 0;
	BORDER-RIGHT: 0;
}

.picture {
	TEXT-ALIGN: center;
	PADDING-TOP: 0;
	PADDING-BOTTOM: 0;
	PADDING-LEFT: 0;
	PADDING-RIGHT: 0;
	BORDER-TOP: 0;
	BORDER-BOTTOM: 0;
	BORDER-LEFT: 0;
	BORDER-RIGHT: 0;
}

.arrow {
	WIDTH: 50px;
	PADDING-TOP: 0;
	PADDING-BOTTOM: 0;
	PADDING-LEFT: 0;
	PADDING-RIGHT: 0;
	BORDER-TOP: 0;
	BORDER-BOTTOM: 0;
	BORDER-LEFT: 0;
	BORDER-RIGHT: 0;
}