#nav-list {
  list-style-type: none;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 1.2em 0em 1.2em 0em;
  text-align: right;
  font-size: 1.2em;
  background-color: #ffb5c6;
}

#nav-list li {
  display: inline;
  padding: 1.2em 1em 1.2em;
}

#nav-list li:hover {
  background-color: #e2e9d4;
}

#nav-list li a:link {
  text-decoration: none;
  color: black;
} 

#nav-list li a:visited {
  text-decoration: none;
  color: black;
} 

#nav-list li a:hover {
  text-decoration: none;
  background-color: #e2e9d4;
  color: black;
} 

#nav-list li a:active {
  text-decoration: none;
  color: black;
} 

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #f6e5c0;
}

.body-paragraph {
  background-color: #e9d2a0;
}

.body-text {
  font-size: 1.5em;
  margin: 2em 0em 2em 0em;
  padding: .5em 0em .5em 0em;
}

#main-text {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.bold {
  font-weight: bold;
}

.green {
  color: #ffb5c6;
}

#logo {
  font-size: 7em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: #fcdfe5;
  background-color: #63714d;
}