#nav-list {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 1.2em 0em 1.2em 0em;
  font-size: 1.2em;
  background-color: #ffb5c6;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 1;
}

#nav-list li {
  display: inline;
  padding: 1.2em 1em 1.2em;
}

#nav-list li:hover {
  background-color: #e2e9d4;
}

a:link {
  text-decoration: none;
  color: #63714d;
} 

a:visited {
  text-decoration: none;
  color: #63714d;
}

a:active {
  text-decoration: none;
  color: #63714d;
}  

#nav-list li a:hover {
  text-decoration: none;
  background-color: #e2e9d4;
  color: #63714d;
} 

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: #e9d2a0;
}