.body-paragraph {
  background-color: #f6e5c0;
}

.body-text {
  font-size: 1.2em;
  margin: 0em 7em 0em 7em;
  padding: 1em 0em 1em 0em;
}

#main-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#credit {
  margin-top:0;
  margin-bottom:0;
}

#first-paragraph {
  margin-top:0;
}

.inner-container {
  display: inline-block;
  margin:0em;
  width:600px;
  padding-top:.5em;
  padding-bottom:.5em;
}

.header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  margin-top: 0em;
  margin-bottom: 0em;
  color: #63714d;
  font-weight: bold;
}

#main-header {
  font-size: 7em;
  color: #fcdfe5;
  background-color: #63714d;
  font-weight: normal;
}

.first-letter {
  color: #ffb5c6;
  font-weight: bold;
}

#filler {
	height: 4.55em;
}

#joshu-logo {
  z-index: 2;
  position: fixed;
  margin-left: 1.5em;
  margin-top: .3em;
}

#japanese-logo {
  float: left;
  margin-top: .7em;
}