

.titleText {
    BACKGROUND-COLOR:#A5CCFD;
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 15px;
    BORDER: 1px solid black;
    height:auto;
    width: 350px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
  }

.controls {
    width:600px;
	margin-top: 20px;
}

.container {
    BACKGROUND-COLOR: #FED3BC;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 1px;
    HEIGHT: 100px;
    WIDTH: 100%;
    BORDER-TOP: 1px solid black;
    BORDER-BOTTOM: 1px solid black;
    BORDER-LEFT: 1px solid black;
    BORDER-RIGHT: 1px solid black;
 }

.textArea {
	font-size: 30px;
	float: left;
	width: 70%;
	text-align: center;
	padding-top: 20px;
	padding-left: 30px;
}

.badge {
    BORDER-BOTTOM : 1px solid black;
    BORDER-LEFT : 1px solid black;
    background-color : #FAFFC6;
    float : right;
    font-weight : bold;
	font-size: 12px;
    height : 25px;
    padding-top : 5px;
    text-align : center;
    width : 60px;
  }

.startbutton {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	FONT-FAMILY: sans-serif; 
	COLOR: #000000; 
	LETTER-SPACING: 1px; 
	HEIGHT: 30px; 
	WIDTH: 110px;
	TEXT-ALIGN: center;
}

.arrowbutton {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: sans-serif;
    COLOR: #000000;
    LETTER-SPACING: 1px;
    HEIGHT: 25px;
    WIDTH: 40px;
    TEXT-ALIGN: center;
  }



#Layer1 {
	position:absolute;
	width:124px;
	height:96px;
	z-index:1;
	left: 15px;
	top: 25px;
}
#Layer2 {
	position:absolute;
	width:155px;
	height:74px;
	z-index:2;
	left: 15px;
	top: 25px;
	background-image: url(joshu%20logo);
}